<?xml version="1.0" encoding="UTF-8"?>
  
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="java100.app.dao.ScoreDao">

	<resultMap type="score" id="scoreMap">
		<id column="no" property="no" />
	</resultMap>

	<select id="selectList" resultMap="scoreMap" parameterType="map">
		select 
		no, name, kor, eng, math
		from ex_score
	</select>

	<insert id="insert" parameterType="score">
		insert into
		ex_score(name, kor, eng, math)
		values(#{name},#{kor},#{eng},#{math})
	</insert>

	<update id="update" parameterType="score">
		update ex_score set
		name=#{name},
		kor=#{kor},
		eng=#{eng},
		math=#{math} 
		where no=#{no}
	</update>

	<delete id="delete" parameterType="int">
		delete from ex_score where
		no=#{value}
	</delete>

	<select id="selectOne" resultMap="scoreMap" parameterType="int">
		select
		no, name, kor, eng, math
		from ex_score
		where no=#{value}
	</select>
</mapper>  
