<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="JdbcTestMapper">
	<resultMap type="board" id="boardMap">
		<id column="no" property="no" /> <!-- primary key -->
		<!-- column == property <result column="title" property="title" /> 생략가능(연결해 
			줄 필요 없음) -->
		<result column="conts" property="contents" />
		<result column="regdt" property="createdDate" />
		<result column="vwcnt" property="viewCount" />
	</resultMap>

	<!-- 중복해서 사용하는 SQL문의 일부 코드를 별도의 태그로 정의함 -->
	<sql id="select1">
		select
		no, title, regdt, vwcnt
	</sql>

	<select id="findAll" resultMap="boardMap">
		<include refid="select1" />
		from jdbc_test
	</select>

	<insert id="insert" parameterType="board">
		insert into
		jdbc_test(title,conts,regdt)
		values(#{title},#{contents},now())
	</insert>

	<update id="update" parameterType="board">
		update jdbc_test set
		title=#{title},
		conts=#{contents}
		where no=#{no}
	</update>

	<delete id="delete" parameterType="int">
		delete from jdbc_test where
		no=#{value}
	</delete>

	<select id="findByNo" resultMap="board" parameterType="int">
		<include refid="select1" />
		, conts
		from jdbc_test
		where no=#{value}
	</select>

	<!-- parameterType이 java primitive type인 경우 값을 꺼낼 때 이름은 의미가 없음 (아무거나 괜찮아요) -->
</mapper>